body {
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    line-height: $body-line-height;
    color: $body-text-color;
    background-color: $body-background-color;
  }

.aux-nav-list .aux-nav-list-item {
  &:hover {
    text-decoration: underline;
  }
}

.main-content {
  h1, h2, h3, h4, h5, h6 {
    color: #3FC93F !important;
    font-weight: bold !important;
  }
}